@import "./_variables.scss";
@import "./_mixins.scss";

.presentation {
  grid-column: 2 /6;
  grid-row: 3;
  @include tablet {
    grid-column: 3/7;
  }
  @include desktop {
    grid-column: 4/9;
  }
  &__Before--title {
    font: {
      size: 12px;
      family: $font;
    }
    color: $color_font;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
  &__title {
    font: {
      family: $font;
      size: 40px;
      weight: 900;
    }
    color: $color_font;
    @include tablet {
      font-size: 70px;
    }

    @include desktop {
      font-size: 120px;
    }
  }
  &__subtitle {
    font: {
      family: $font;
      size: 14px;
    }
    color: $color_font;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 20px;
    }
  }
  &__hetic--Link {
    font : {
      family: $font;
      size: 14px;
    }
    color: $color_font;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font: {
        size: 20px;
        weight: 600;
      }
    }
  }
  &__animation {
    -webkit-animation: tracking-in-expand 1.5s
      cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
