@import "./_mixins.scss";

.socialmedia {
  grid-column: 2/6;
  grid-row: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @include tablet {
    grid-column: 3/7;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @include desktop {
    grid-column: 4/8;
  }
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  &__container--img {
    width: 28px;
    height: 28px;
    @include tablet {
      width: 30px;
      width: 30px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    &:hover {
      opacity: 0.5;
    }
  }
}
